html, body, #app {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Ancizar Sans", sans-serif;
}


#app {
    display: grid;
    grid-template-rows: 56px 1fr 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer p {
    margin: 0;
}

.bg-violet {
    background-color: #3c0b74;
}

.navbar-collapse {
    background-color: #3C0B74;
    z-index: 1;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 300;
}

.nav-link:hover {
    text-decoration: underline 2px solid #f805bc;
}

.nav-link.active {
    font-weight: bold;
}

.btn-pink {
    background-color: #f805bc;
    color: white;
    border: none;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-pink:hover {
    background-color: #ff40cf;
    color: white;
}

.btn-pink:active {
    background-color: #c5249d;
    color: white;
}

.btn-pink:focus {
    background-color: #c5249d;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(248, 5, 188, 0.5);
}

.footer {
    background-color: #270849;
    border-top: solid 3px #f805bc;
}

.bg-post {
    background-color: #270849;
}

.main-background {
    background: #3C0B74;
    background: linear-gradient(90deg, rgba(60, 11, 116, 1) 68%, rgba(146, 50, 201, 1) 99%);
}

.img-home {
    filter: drop-shadow(10px 10px 10px #3a052d);
}

.text-pink {
    color: #f805bc;
}

.my-card {
    background-color: #270849;
    color: whitesmoke;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.textarea-h {
    height: 150px;
}

.w-80 {
    width: 80%;
}

.link-pink {
    color: #f805bc;
    text-decoration: none;
}

.link-pink:hover {
    color: #ff40cf;
    text-decoration: underline;
}

.link-pink:focus {
    color: #ff40cf;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(248, 5, 188, 0.5);
}

.custom-checkbox:checked {
    background-color: #f805bc;
    border-color: #f805bc;
}

.custom-checkbox:checked::after {
    color: white;
}

.custom-checkbox {
    accent-color: #f805bc;
}

.border-bottom-pink {
    border-bottom: 2px solid #f805bc;
}

.custom-mq {
    width: 95%;
}

@media (min-width: 576px) {
    .custom-mq {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .custom-mq {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .custom-mq {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .custom-mq {
        width: 50%;
    }
}

